* {
    margin: 0;
    padding: 0;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-image: url("./images/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    height: 420px;
    width: 380px;
    background-color: rgba(240, 240, 240, 0.1);
    border-radius: 20px;
}
.login:hover{
    box-shadow:0px 0px 10px 3px rgba(240, 240, 240, 0.2); ;
}

.login-card {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: -20px;

}

.login-card h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 30px;
}
.login-card span{
    color: rgb(224, 2, 2);
    font-weight: 700;
}
.login-card label {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}

.login-card input {
    padding: 10px 100px 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}
input:focus {
    outline: none;
}
input[type="checkbox"] {
  accent-color: black; /* Sets the accent color to black when checked */
}